// Header file:
    Content:
      - Nav bar

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    div.container-fluid
        a.navbar-brand(href='/') Weathertop
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarNavDropdown
            ul.navbar-nav.w-100.d-flex.justify-content-end
                if (isLoggedIn)
                    li.nav-item
                        a.nav-link.active(aria-current='page', href='/dashboard') Dashboard
                    li.nav-item
                        a.nav-link.active(aria-current='page', href='/dashboard#map') Map
                    li.nav-item
                        form(action="/logout" method="post")
                            button.btn.btn-outline-light(type="submit") Logout
                else
                    li.nav-item
                        a.nav-link.active(aria-current='page', href='/') Login
                    li.nav-item
                        a.nav-link.active(aria-current='page', href='/registration') Registrieren






